@import url(https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic);


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #0d0e34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progressBar {
  height: 3px;
  width: 0;
  background-color: rgb(48, 208, 88);

  transition-property: width;
  transition-duration: 400ms;
}

.header {
  position: relative;
  box-shadow: 0 0 25px #0d0e3420;
  
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;

  
 
  
}


.header .top {
  font-family: 'Arvo';
  padding: 1em 1em;
    display: flex;
   
    justify-content: space-between;
    background-color: rgb(241, 241, 246);

  
}

.header .bottom {

  padding: 0em 1em;
  height: 0px;
  display: flex;
  max-height: 0px;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.title {
  font-size: 1.1em;
}

.header .bottom > * {
  width: 6em;
}
.header .bottom >*:nth-child(3) {
  text-align: right;
}
.header .bottom.true {
  animation: full-height .5s forwards;
}

@keyframes full-height {
  0% {
    height: 0;
    max-height: 0;
  }
  100% {
    padding: 1em 1em;
    height: auto;
    opacity: 1;
    max-height: 4em;
  }
}

.info {
  min-width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 1em;
  margin: auto;
}

.options  {
  margin-bottom: 1em;
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
  
}

.options-one label {
  margin-left: 1em;
}

input, select {
  border-radius: 2px;
  padding: .5em 1em;
  font-size: inherit;
  border: 0;
  border-radius: 3px;
  background-color: rgb(241, 241, 246);
 
}

input[type='number'] {
 
  padding-right: 0;
  width: 3em;
  
}

.question input {
  border-radius: 3px; 
  background-color: rgb(241, 241, 246);
}

input:focus {
  outline: none;
}

.profile {
  font-family: 'Arial';
  left: 1em;
}

.quiz-info-box {
  background-color: rgb(255, 255, 255);
  padding: .5em 2em;
  border-radius: 20px;
  min-width: 5em;
  border: 1px solid lightgray;
  text-align: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  color: rgb(96, 96, 96);
}

.timer {
  justify-self: center;
 
}

.question {
  text-align: center;
}

.ask {
  font-size: 2em;
}

.notification {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 0em;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background-color: rgb(255, 68, 68);
  animation: slide-down 1s forwards, slide-up 1s forwards -1s;
}

@keyframes slide-down {
  0% {
    max-height: 0;
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  100% {
    display: none;
    max-height: 0;
    transform: translateY(-100%);
  }

  0% {
    transform: translateY(0);
  }
}